.body {
    font-family: 'Roboto', sans-serif;
}

.center-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    border-top: 5px solid #ee4d2d;
}

.shopee-footer-section__content {
    font-size: .75rem;
    color: rgba(0,0,0,.54);
    line-height: 1.4;
    margin: 0.625rem 0 0;
    font-family: 'Roboto', sans-serif;
}

.shopee-footer-section__heading {
    margin: 0;
    color: rgba(0,0,0,.54);
    font-size: .875rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}